.card {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 361px;
  background-color: #fff;
  border-radius: 20px 20px 10px 10px;
}

.card__image {
  margin: 0;
  border-radius: 10px 10px 0 0;
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.card__description {
  display: flex;
  height: 20%;
  margin: 0;
  padding: 0 1em;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  padding: 0;
  background: none;
  border: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s linear;
}

@media screen and (max-width: 905px) {
  .card {
  }
}
