.card {
  display: flex;
  flex-direction: column;
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
}

.card__image {
  margin: 0;
  border-radius: 10px 10px 0 0;
  height: 282px;
  width: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  margin: 0;
  padding: 0 1em;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 25px 0;
  font-weight: 900;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  padding: 10px;
  background: transparent url(../images/heart.svg) center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s linear;
}
