.gallery {
  margin: 51px auto 67px;
}

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

@media screen and (max-width: 755px) {
  .gallery {
    margin-top: 44px;
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 525px) {
  .gallery {
    margin: 36px 20px 48px;
    max-width: calc(100% - 40px);
  }
}
