.gallery {
  padding: 15px 0 36px;
}

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
