.header {
  margin: 40px auto 0;
  padding: 0;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 885px) {
  .header {
    margin: 40px 20px 0;
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 605px) {
  .header {
    margin: 40px 0 0;
    max-width: 100%;
  }

  .header__logo {
    margin-left: 20px;
  }
}

@media screen and (max-width: 525px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin-bottom: 32px;
  }
}
