.modal {
  padding: 0 19px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal__background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: #fff;
  border-radius: 10px;
}

.modal__exit {
  padding: 0;
  position: absolute;
  border: none;
  background: transparent url(../images/Close-Icon.svg) no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

.modal__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

.modal__form {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  width: 358px;
}

.modal__input-error {
  position: relative;
  margin: 0;
  padding: 0;
  width: 358px;
  overflow: hidden;
}

.modal__input {
  width: 100%;
  margin: 0;
  padding: 0 0 13px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
}

.modal__error {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 5px 0 0;
  display: none;
  color: #ff0000;
  font-size: 12px;
  line-height: 14px;
}

.modal__save {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.modal__exit:hover {
  opacity: 0.6;
  transition: 0.3s linear;
}

.modal__input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal__save:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.3s linear;
}

.modal__input-error:nth-child(1) {
  padding-bottom: 30px;
}

.modal__input-error:nth-child(2) {
  padding-bottom: 48px;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__error_visible {
  display: block;
}

.modal__save_disabled {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input_type_error {
  border-bottom: solid 1px #ff0000;
}

@media screen and (max-width: 605px) {
  .modal__exit {
    height: 26px;
    width: 26px;
    top: -45px;
    right: 7px;
  }
}

@media screen and (max-width: 525px) {
  .modal__container {
    padding: 25px 22px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__form {
    width: 238px;
  }

  .modal__save {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}
