.profile {
  color: #fff;
  padding: 0;
  width: 880px;
  margin: 40px auto 0;
  display: flex;
  align-items: center;
}

.profile__avatar {
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.profile__info {
  margin: 0;
  display: grid;
  align-items: center;
  grid-template-areas:
    "name button"
    "subtitle subtitle";
}

.profile__info-name {
  margin: 0;
  max-width: 385px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: name;
}

.profile__info-edit-button {
  padding: 0;
  background: transparent url(../images/pencil.png) center no-repeat;
  border: 1px solid #fff;
  height: 24px;
  width: 24px;
  margin-left: 18px;
  grid-area: button;
}

.profile__info-edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s linear;
}

.profile__info-subtitle {
  width: 100%;
  max-width: 385px;
  margin-top: 7px;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: subtitle;
}

.profile__add-button {
  background: transparent url(../images/Plus.png) center no-repeat;
  border: 2px solid #fff;
  height: 50px;
  width: 150px;
  border-radius: 2px;
  margin-left: auto;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s linear;
}

@media screen and (max-width: 885px) {
  .profile {
    margin: 40px 20px 0;
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 755px) {
  .profile__info-name {
    font-size: 28px;
    line-height: 36px;
  }

  .profile__info-edit-button {
    font-size: 0;
    height: 18px;
    width: 18px;
  }

  .profile__info-edit-button-image {
    height: 7.5px;
    width: 7.5px;
  }

  .profile__add-button {
    width: 100px;
  }
}

@media screen and (max-width: 605px) {
  .profile__avatar {
    margin-right: 10px;
  }

  .profile__add-button {
    width: 50px;
  }
}

@media screen and (max-width: 525px) {
  .profile {
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 282px;
  }

  .profile__info {
    padding: 0;
    justify-content: center;
  }

  .profile__avatar {
    margin-bottom: 30px;
  }

  .profile__info-name {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }

  .profile__info-subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
  }

  .profile__add-button {
    margin-top: 36px;
    width: 100%;
  }
}
