.profile {
  color: #fff;
  padding: 0;
  width: 880px;
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}

.profile__info {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.profile__info-main {
  display: flex;
  align-items: center;
}

.profile__info-name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__info-edit-button {
  padding: 0;
  background-color: #000;
  border: 1px solid #fff;
  height: 24px;
  width: 24px;
  margin-left: 18px;
}

.profile__info-edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s linear;
}

.profile__info-name-subtext {
  width: 100%;
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  background-color: #000;
  border: 1px solid #fff;
  height: 50px;
  width: 150px;
  border-radius: 2px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s linear;
}

@media screen and (max-width: 885px) {
  .profile {
    margin: 40px 20px 0;
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 720px) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .profile__info {
    justify-content: center;
    margin-top: 20px;
  }

  .profile__info-name-subtext {
    text-align: center;
  }

  .profile__add-button {
    width: 390px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 525px) {
  .profile {
    margin: 40px 20px 0;
    max-width: calc(100% - 40px);
  }

  .profile__add-button {
    width: 100%;
  }
}
