.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.card__delete-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  border: none;
  width: 18px;
  height: 19px;
  position: absolute;
  padding: 10px;
  top: 18px;
  right: 15px;
  cursor: pointer;
}

.card__image {
  border-radius: 10px 10px 0 0;
  height: 282px;
  object-fit: cover;
  cursor: pointer;
}

.card__description {
  display: flex;
  padding: 0 1em;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 25px 0;
  font-weight: 900;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  padding: 10px;
  background: transparent url(../images/heart.svg) center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
}

.card__like-button_active {
  background-image: url(../images/heart-filled.svg);
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s linear;
}

.card__delete-button:hover {
  opacity: 0.6;
  transition: 0.3s linear;
}
